body {
  margin: 20px;
}

.grid {
  border: 2px solid black;
  margin: auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 10px;
  padding: 10px;
  grid-auto-flow: column dense;
  height: 800px;
}

.item {
  border: 2px solid black;
  background: rgba(255, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .grid {
    padding: 5px;
  }

  .item {
    margin: 5px;
    -ms-grid-row: 999;
    -ms-grid-column: 999;
  }
} 

.item:nth-child(5) {
  background: lime;
  grid-column: 3;
  grid-row: 3;
}

.item:nth-child(10) {
  background: lime;
  grid-column: 4;
  grid-row: 4;
}

.item:nth-child(3) {
  background: cornflowerblue;
  grid-column: 2;
}

.item:nth-child(7) {
  background: cornflowerblue;
  grid-column: 4 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  order: 1;
}

.item:nth-child(12) {
  background: cornflowerblue;
  grid-column: 4;
  order: 1;
}

.item:nth-child(22) {
  background: cornflowerblue;
  grid-column: 4;
  order: 3;
}

.item:nth-child(32) {
  background: cornflowerblue;
  grid-column: 4;
  order: 2;
}

.item:nth-child(18) {
  background: coral;
  grid-row: 7;
}

.item:nth-child(19) {
  background: coral;
  grid-row: 7 / span 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
}