doctype html
html(lang="ru")
  head
    title Test
    link(href="/styles/test.css" rel="stylesheet")
    script(src="/scripts/test.js" defer)
  body
    .grid#grid
      .item 1
      .item 2
      .item 3
      .item 4
      .item 5
      .item 6
      .item 7
      .item 8
      .item 9
      .item 10
      .item 11
      .item 12
      .item 13
      .item 14
      .item 15
      .item 16
      .item 17
      .item 18
      .item 19
      .item 20
      .item 21
      .item 22
      .item 23
      .item 24
      .item 25
      .item 26
      .item 27
      .item 28
      .item 29
      .item 30
      .item 31
      .item 32
      .item 33
      .item 34
      .item 35
      .item 36
      .item 37
      .item 38
      .item 39
      .item 40
      .item 41
      .item 42
      .item 43
      .item 44    
    .finish-class-1
      div
        .start-class-1 Текст
    .finish-class-2
      div
        svg.start-class-2(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20")
          path(fill-rule="evenodd" d="M9.495 20C4.26 20 0 19.322 0 18.117v-.625c0-2.24 1.743-3.462 2.58-3.86.83-.395 2.652-.95 3.404-1.422.758-.473.975-.65.975-.65s-.015-.098 0 0v-.938c-.532-.702-.889-1.56-1.117-2.612-.005 0-.01.01-.01.01-.362.097-.803-.38-.985-1.068-.183-.68-.044-1.315.311-1.412.026-.003.046.01.069.005-.054-.755-.173-1.733-.173-2.053 0-.52-.073-.96.603-1.882.68-.918 1.244-.56 1.244-.56s.436-.443.836-.64c.4-.2 1.358-.7 3.119-.183 1.756.52 2.44.743 2.88 2.745a7.09 7.09 0 0 1 .097 2.573c.015 0 .025-.008.04-.005.363.097.505.732.32 1.412-.188.673-.614 1.143-.968 1.073-.233 1.102-.618 1.88-1.199 2.597v.938c.006-.04 0 0 0 0s.21.177.956.65c.757.472 2.579 1.027 3.412 1.422.81.385 2.513 1.708 2.597 3.86.02.058 0 .57 0 .625 0 1.205-4.259 1.883-9.496 1.883" transform="translate(0.5)")