body {
  margin: 20px;
}

.grid {
  border: 2px solid black;
  margin: auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px;
  grid-gap: 10px;
  padding: 10px;
  grid-auto-flow: column dense;
  height: 800px;
}

.item {
  border: 2px solid black;
  background: rgba(255, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .grid {
    padding: 5px;
  }

  .item {
    margin: 5px;
    -ms-grid-row: 999;
    -ms-grid-column: 999;
  }
} 

.item:nth-child(5) {
  grid-row: 8;
}